elogs-portal/pages/elogAssetDeletion.component.js
new-oem-protractor/node_modules
new-oem-protractor/.idea/*
new-oem-protractor/ssh-agent.exe.stackdump
new-oem-protractor/reports/*
new-oem-protractor/junitreports/*
new-oem-protractor/conf.test.js
new-oem-protractor/conf.testConf.js
new-oem-protractor/conf.testDev.js
new-oem-protractor/conf..js
new-oem-protractor/conf.test.staging.user.js
old-oem-protractor/node_modules
old-oem-protractor/.idea/*
old-oem-protractor/ssh-agent.exe.stackdump
old-oem-protractor/conf.test.js
support-oem-protractor/node_modules
support-oem-protractor/.idea/*
support-oem-protractor/ssh-agent.exe.stackdump
support-oem-protractor/reports/htmlReport.html
support-oem-protractor/reports/screenshots
support-oem-protractor/junitreports/xmloutput.xml
support-oem-protractor/conf.test.js
support-oem-protractor/specs/misc/*
ISE_Integration/src/test/jmeter/jmeter.log
ISE_Integration/src/test/jmeter/testresult.jtl
dev-portal/node_modules
dev-portal/.idea/*
dev-portal/ssh-agent.exe.stackdump
dev-portal/reports/htmlReport.html
dev-portal/reports/screenshots
dev-portal/junitreports/xmloutput.xml
dev-portal/conf.test.js
connected-fleet-portal/conf.test.js
connected-fleet-portal/reports/htmlReport.html
connected-fleet-portal/reports/screenshots
connected-fleet-portal/junitreports/xmloutput.xml
wifi-portal-selenium/conf.test.js
wifi-portal-selenium/reports/htmlReport.html
wifi-portal-selenium/reports/screenshots
wifi-portal-selenium/junitreports/xmloutput.xml
tests/DataFile/vinDiscovery-modified.dat
tests/data-subscription-endpoint/data/RD_ExtWarranty_*
tests/new-oem-protractor/node_modules
tests/new-oem-protractor/.idea/*
tests/new-oem-protractor/ssh-agent.exe.stackdump
tests/new-oem-protractor/reports/*
tests/new-oem-protractor/junitreports/*
tests/new-oem-protractor/conf.test.js
tests/new-oem-protractor/conf.testConf.js
tests/new-oem-protractor/conf.testDev.js
tests/new-oem-protractor/conf..js
tests/support-oem-protractor/node_modules
tests/support-oem-protractor/.idea/*
tests/support-oem-protractor/ssh-agent.exe.stackdump
tests/support-oem-protractor/reports/htmlReport.html
tests/support-oem-protractor/reports/screenshots
tests/support-oem-protractor/junitreports/xmloutput.xml
tests/support-oem-protractor/conf.test.js
tests/support-oem-protractor/specs/misc/*
tests/new-oem-protractor/reportsscreenshots/*
tests/support-oem-protractor/reportsscreenshots/*
node_modules/
.idea/*
*.iml
*.project
.settings/*
nbproject/*
/nbproject/private/
.DS_Store
.idea/
tests/new-oem-protractor/junitreports/
tests/new-oem-protractor/reports/
tests/support-oem-protractor/junitreports/
tests/support-oem-protractor/reportsscreenshots/
tests/data-subscription-endpoint/conf.test.js
tests/data-subscription-endpoint/junitreports/*
tests/data-subscription-endpoint/reports/*
tests/data-subscription-endpoint/reportsscreenshots/*
.DS_Store
/mobile_automation/conf.test.js
tests/new-oem-protractor/conf.qatestportal.js
ISE_Integration/IseUiTests/junitreports
ISE_Integration/IseUiTests/reports
tests/new-oem-protractor/conf.test_staging.js
mobile_automation/reports/*
mobile_automation/junitreports/*
Load_Test_Scenario/node_modules/